<div><!--#include virtual="inc/header.vm" --></div>

<h1>${title}</h1>

<div>#parse("inc/article.vm")</div>

<ul>
#foreach($item in $list)
    <li>$item</li>
#end
</ul>

<p>Today is $now()</p>

<div>#parse("inc/footer.vm" )</div>