<head>#include("inc/style.html")</head>

<div>#parse("inc/header.vm")</div>

<div>#parse("mod/not/existed.vm")</div>

<p>content</p>

#set($aside = 'aside')<p>#parse("inc/aside.vm")</p>

<div>#parse( "inc/footer.vm" )</div>